<!-- secondary promos -->
		<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="" bgcolor="ffffff">
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mobileWidth">&nbsp;</td></tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mobileWidth">
					<a href="{{ 'http://www.myhdiet.com/what-is-the-hallelujah-diet-and-why-does-it-work/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/14265018_10157331126330290_2601664935971517134_n.jpg?oh=45e9e5a195e153a6c964379c47126808&oe=59FA3459" width="600" class="mobileWidth" border="0"></a>
				</td></tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mobileWidth">&nbsp;</td></tr>
			
				
					<tr>
						<td width="20" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="block-full2 block">
						<a href="https://www.youtube.com/watch?v=itotRj57sSw&t=127s" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article.jpg" border="0" width="265">
							</a>
						</td>
						<td width="5" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="block-full2 block">
						<a href="{{ 'http://www.myhdiet.com/the-hallelujah-diet-testimonies/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article2.jpg" border="0" width="265">
							</a>
						</td>
						<td width="20" class="mb-hide">&nbsp;</td>
					</tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mb-hide">&nbsp;</td></tr>
					<tr>
						<td width="20" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="block-full2 block">
						<a href="{{ 'http://www.myhdiet.com/the-hallelujah-diet-testimonies/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article3.jpg" border="0" width="260">
							</a>
						</td>
						<td width="5" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="block-full2 block">
						<a href="https://www.youtube.com/watch?v=OBBSXt45ifc&t=113s" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article4.jpg" border="0" width="265">
							</a>
						</td>
						<td width="20" class="block">&nbsp;</td>
					</tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mb-hide">&nbsp;</td></tr>
		</table>
		<!-- /secondary promos -->