<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Hallelujah Diet</title>

	<style>
		/* CSS Styles */

		body {
			margin: 0;
			padding: 0;
			min-width: 100%;
			font-size: 12px;
			font-family: Helvetica, Arial, sans-serif;
			background-color: #3b3b3b;
		}

		table,
		table td {
			border-collapse: collapse;
		}



		.canspam a {
			text-decoration: none !important;
			color: #a9a9a9 !important;
			font-weight: bold !important;
			line-height: 12px !important;
		}
		/* Media Queries */

		@media screen and (max-width: 480px) {
			.canspam {
				line-height: 14px!important
			}
			.widthFull {
				width: 100% !important;
				text-align: left !important;
			}
			.widthAlmostFull {
				width: 80% !important;
				padding: 0 10%;
			}
			.mobileWidth {
				width: 100% !important;
				max-width: 300px !important;
				padding: 0 !important;
				margin: 0 auto !important;
			}
			.mobileWidth2 {
				width: 100%!important;
				max-width: 280px !important;
				padding: 0 !important;
				margin: 0 auto !important;
			}
			.block {
				display: block !important;
				margin: 0 auto !important;
			}
			.block-full {
				display: block !important;
				margin: 0 auto !important;
				width: 100% !important;
			}
			.block-full2 {
				display: block !important;
				margin: 0 auto !important;
				width: 80% !important;
				padding: 10px 20px !important;
			}
			.block-noPad {
				display: block !important;
				padding: 0 !important;
				margin: 0 auto !important;
			}
			.block-Pad {
				display: block !important;
				padding: 20px !important;
				margin: 0 auto !important;
			}
			.block-Pad2 {
				display: block !important;
				padding: 20px !important;
				margin: 0 auto !important;
			}
			.hero-md {
				width: 60% !important;
				padding: 4% 0% !important;
			}
			.hero-lg {
				width: 90% !important;
				padding: 2% 2% !important;
				margin: 0 auto !important;
			}
			.hero-full {
				width: 100% !important;
			}

			.titleText {
				display: block !important;
				margin: 0 auto !important;
				padding: 5px 10px !important
			}
			.titleText2 {
				display: block !important;
				margin: 0 auto !important;
				padding: 10px 20px 5px 20px !important;
			}
			.secondaryTitle {
				display: block !important;
				margin: 0 auto !important;
				padding: 5px 20px !important;
				text-align: center !important;
			}
			.bodyText {
				display: block !important;
				margin: 0 auto !important;
				padding: 10px 10px 20px 10px !important
			}
			.bodyText2 {
				display: block !important;
				margin: 0 auto !important;
				padding: 10px 20px 20px 20px !important
			}

			.button {
				/*width:152px !important;*/
				margin: 0 auto !important;
			}
			.lefty {
				text-align: left !important;
			}
			/*.customBTN{
    width:152px !important;
  }*/
			.mb-hide {
				display: none !important;
			}
			.mb-show {
				display: block !important;
				font-size: 12px !important;
				line-height: normal !important;
				height: auto !important;
				width: 100% !important;
				overflow: visible !important;
			}
			.mobileHero {
				display: block !important;
				width: 260px !important;
				height: 300px !important;
				background-image: url('https://gallery.mailchimp.com/495cdbcaefa2dbcdbbc778f98/images/89420c63-d701-4d53-bc66-66a63fe56925.jpg') !important;
				background-size: 100% auto !important;
				background-repeat: no-repeat !important;
				background-position: center !important;
			}
			.mobileHero-pad {
				padding: 10px 0px !important;
			}

			.customIMG {
				display: block !important;
				margin: 0 auto !important;
				padding: 20px 20px 0px 20px !important;
			}
			.customTXT {
				display: block !important;
				margin: 0 auto !important;
				padding: 0px 20px 20px 20px !important;
			}
			.social {
				padding: 20px !important;
				width: 20px !important;
			}
			.social a {
				color: #a9a9a9;
				text-decoration: none;
			}
			.service a {
				color: #696969;
				text-decoration: none;
			}
			.break {
				display: block !important;
				padding: 20px 0;
			}
		}

	</style>

	<!--[if gte mso 12]>
<style>
  body {
    background-color:#ffffff;
  }
</style>
<![endif]-->
</head>

<body style="margin:0; padding:0; min-width:100%; font-size:12px; font-family:Helvetica, Arial, sans-serif; background-color:#3b3b3b;">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="background-color:#3b3b3b; table-layout: fixed;">
		<!-- spacing --><tr><td height="20">&nbsp;</td></tr><!-- end spacing -->
		<tr>
			<td align="center">
				<!-- Preheader //-->
				<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mb-hide" style="" bgcolor="b5bd00">
					<tr>
						<td style="padding: 5px 15px; color: #ffffff; font-size: 10px;">
							{{ preheader_text }}
						</td>
					</tr>
				</table>
				<!-- // Preheader -->
				
			</td>
		</tr>
		
		<!-- header -->
		<tr>
			<td align="center" style="padding-bottom:20px;">
				<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="" bgcolor="#ffffff">
							<tr>
								<td width="190" valign="middle" style="padding: 15px;" class="block-full2" align="center">
									<a href="{{ 'http://shop.myhdiet.com/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/hd-logo.png" width="186" border="0">
									</a>
								</td>
								<td class="mb-hide" align="center">&nbsp;
									
								</td>
								<td class="mb-hide" style="font-size:10px; color:#494940; padding:10px; line-height:10px; text-align: left;"
								width="130" align="center">

									<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/contact_01.jpg" width="128">
									<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/contact_02.jpg" width="128">
									<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/contact_03.jpg" width="128">
									
								</td>
							</tr>
							
						</table>
			
		<!-- nav -->
		<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mb-hide" style="" bgcolor="#ffffff">
					<tr><td>
						<a href="{{ 'http://shop.myhdiet.com/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
							<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_01.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'https://shop.myhdiet.com/supplement-kits.html'|add_tracking_codes }}" border="0" style="text-decoration: none;">	
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_03.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'https://shop.myhdiet.com/supplements/hallelujah-diet-supplements.html'|add_tracking_codes }}" border="0" style="text-decoration: none;">	
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_04.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'https://shop.myhdiet.com/detox-supplements.html'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_05.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'https://shop.myhdiet.com/education/recipe-books.html'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_06.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'https://shop.myhdiet.com/equipment/kitchen-utinsils-and-gadgets.html'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_07a.gif" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'https://shop.myhdiet.com/equipment/exercise.html'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_08.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'http://www.myhdiet.com/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_09.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'http://myhdiet.com/rawfoodlab/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_10.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'http://www.myhdiet.com/healthnews'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_11.jpg" height="25" style="block" border="0">
						</a>
						</td>
						<td>
						<a href="{{ 'http://www.myhdiet.com/shop'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/nav_12.gif" height="25" style="block" border="0">
						</a>
						
					</td></tr>
		</table>
			<!-- end nav -->	
				
		
		<!-- Hero // -->
				{% if main_img %}
				<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="" bgcolor="#ffffff">
					<tr>
						<td align="center">
							{% if main_img_destination_url %}
							<a href="{{ main_img_destination_url }}" style="text-decoration:none;">
                {% else %}
                <a href="{{ 'http://shop.myhdiet.com/'|add_tracking_codes }}" style="text-decoration:none;">
                {% endif %}
                  <img src="{{ main_img }}" width="600" border="0" style="display:block;" class="hero-full" alt="">
                </a>
						</td>
					</tr>
				</table>
				{% endif %}
		<!-- // Hero -->
			
		<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="background-color: #ffffff;">
					<tr>
						<!-- Main Content/Featured Products // -->
						<td class="block-noPad" align="center" style="padding: 20px 0px 0px 0px;">
							{% if products|length == 1 or products|length == 3 %}
							<table width="580" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="">
								<tr>
									<!-- Featured Headline: 1 or 3 products // -->
									<td class="block-Pad" valign="top" align="center" style="padding: 20px 0px 0px 10px;">
										<table width="268" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="">
											<tr>
												<td class="titleText" align="left" style="padding:10px 0px; font-size:24px; text-transform: uppercase; font-weight:bold; font-family: Arial, Helvetica, sans-serif; color: #b5bd00;">
													{{ title }}
												</td>
											</tr>
											<tr>
												<td class="bodyText" align="left" style="padding:0px 20px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height:18px;">
													{{ body_text }}
												</td>
											</tr>
											<tr>
												<td class="left" align="left" style="padding-bottom:20px;">
													<table class="lefty" width="130" height="30" style="background-color:#b5bd00; border: none; font-size: 12px; color: #111111; font-weight: bold; filter: none; text-decoration: none; cursor: pointer; padding: 5px 0;">
								<tr>
									<td align="center" style="">
									{% if use_cta %}
										<a href="{{ cta_url }}" style="text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight: normal;">
										 {{ cta_text }}
										 {% else %}
										 <a href="{{ 'http://shop.myhdiet.com/'|add_tracking_codes }}" style="text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight: normal;">
										 {{ button_text }}
										 {% endif %}
												</a>
									</td>
								</tr>
							</table>
												</td>
											</tr>
										</table>
									</td>
									<!-- //  Featured Headline: 1 or 3 products -->
									<td class="block" align="center" style="padding-bottom:20px;">
										<table width="268" height="340" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="">
											<tr>
												<td align="center" style="border: 1px solid #ffffff;">
													<table align="center" cellpadding="0" cellspacing="0" border="0">
														<tr>
															<!-- Featured Product IMG // -->
															<td class="block" valign="top" style="padding:10px;" align="center">
																<a href="{{ products[0].link }}">
                                  <img src="{{ products[0].image_link }}" alt="" width="250" border="0" class="hero-full">
                                </a>
															</td>
															<!-- // Featured Product IMG -->
														</tr>
														<tr>
															<td class="block" align="left" valign="top" style="padding:0px 10px;">
																<a href="{{ products[0].link }}" style="font-weight:bold; font-size:11px; text-decoration:none; color:#000000; text-transform:uppercase; font-family: Arial, Helvetica, sans-serif;">
                                  {{ products[0].title }} &nbsp;&#9656;
                                </a>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							{% elif products|length == 0 %}
							<table width="580" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="">
								<tr>
									<!-- Featured Headline: 1 or 3 products // -->
									<td class="block-Pad" valign="top" align="center" style="padding: 20px 0px 0px 20px;">
										<table width="580" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="">
											<tr>
												<td class="titleText" align="left" style="padding:10px 0px; font-size:24px; text-transform: uppercase; font-weight:bold; font-family: Arial, Helvetica, sans-serif; color: #b5bd00;">
													{{ title }}
												</td>
											</tr>
											<tr>
												<td class="bodyText" align="left" style="padding:0px 20px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height:18px;">
													{{ body_text }}
												</td>
											</tr>
											<tr>
												<td class="left" align="left" style="padding-bottom:20px;">
													<table class="lefty" width="130" height="30" style="background-color:#b5bd00; border: none; font-size: 12px; color: #111111; font-weight: bold; filter: none; text-decoration: none; cursor: pointer; padding: 5px 0;">
								<tr>
									<td align="center" style="">
										{% if use_cta %}
										<a href="{{ cta_url }}" style="text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight: normal;">
										 {{ cta_text }}
										 {% else %}
										 <a href="{{ 'http://shop.myhdiet.com/'|add_tracking_codes }}" style="text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight: normal;">
										 {{ button_text }}
										 {% endif %}
												</a>
									</td>
									
								</tr>
							</table>
												</td>
											</tr>
										</table>
									</td>
									
								</tr>
							</table>
							{% else %}
							<!-- Featured Headline: 0 or 2 products (full-width) // -->
							<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="">
								<tr>
									<td class="titleText2" align="left" style="padding:0px 23px 10px 23px; font-size:24px; text-transform: uppercase; font-weight:bold; color: #b5bd00;">
										{{ title }}
									</td>
								</tr>
								<tr>
									<td class="bodyText2" align="left" style="padding:0px 20px 10px 23px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height:18px;">
										{{ body_text }}
									</td>
								</tr>
								<tr>
									<td align="left" style="padding:10px 20px 20px 23px;">
										<table class="lefty" width="130" height="30" style="background-color:#b5bd00; border: none; font-size: 12px; color: #111111; font-weight: bold; filter: none; text-decoration: none; cursor: pointer; padding: 5px 0;">
								<tr>
									<td align="center" style="">
										<a href="{{ 'http://shop.myhdiet.com/'|add_tracking_codes }}" style="text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight: normal;"> {{ button_text }}
												</a>
									</td>
								</tr>
							</table>
									</td>
								</tr>
							</table>
							{% endif %} {% if products|length > 1 %}
							<!-- // Featured Headline: 0 or 2 products (full-width) -->
							<table width="580" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="">
								<tr>
									{% for product in products %} {% if loop.length == 2 %}
									<td class="block-noPad" align="center" style="padding-bottom:20px;">
										<table width="268" height="340" align="center" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td align="center" style="border: 1px solid #ffffff;">
													<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
														<tr>
															<!-- Featured Product IMG // -->
															<td class="block" valign="top" style="padding:10px;" align="center">
																<a href="{{ product.link }}">
                                  <img src="{{ product.image_link }}" alt="" border="0"  width="250" class="hero-full" style="display:block;">
                                </a>
															</td>
															<!-- // Featured Product IMG -->
														</tr>
														<tr>
															<td class="block" align="left" valign="top" style="padding:0px 10px;">
																<a href="{{ product.link }}" style="font-weight:bold; font-size:11px; text-decoration:none; color:#000000; text-transform:uppercase; font-family: Arial, Helvetica, sans-serif;">
                                  {{ product.title }} &nbsp;&#9656;
                                </a>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									{% elif loop.length > 2 and not (loop.first) %}
									<td class="block-noPad" align="center" style="padding-bottom:20px;">
										<table width="268" height="340" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="">
											<tr>
												<td align="center" style="border: 1px solid #ffffff;">
													<table>
														<tr>
															<!-- Featured Product IMG // -->
															<td valign="top" style="padding:10px;" align="center">
																<a href="{{ product.link }}">
                                  <img src="{{ product.image_link }}" alt="" width="250" border="0" style="display:block;" class="hero-full">
                                </a>
															</td>
															<!-- // Featured Product IMG -->
														</tr>
														<tr>
															<td align="left" valign="top" style="padding:0px 10px;">
																<a href="{{ product.link }}" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:11px; text-decoration:none; color:#000000; text-transform:uppercase;">
                                  {{ product.title }} &nbsp;&#9656;
                                </a>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									{% endif %}{% endfor %}
								</tr>
							</table>
							{% endif %}
						</td>
					</tr>
				</table>
				<!-- // Main Content/Featured Products -->
				
		<!-- green divider -->
		
		<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="" bgcolor="b5bd00">
					<tr><td height="10" bgcolor="#b5bd00" colspan="3" style="text-align: center; font-size: 1px !important;; line-height: 1px !important;">&nbsp;</td></tr>
		</table>
		<!-- end divider -->
		
		<!-- secondary title // -->
				<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="">
					<tr>
						<td align="center" bgcolor="#ffffff" height="10">
						</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#ffffff" style="padding: 0px 15px 0px; text-align: center;">
							<span style="letter-spacing: -1px;font-family: Arial, sans-serif; font-weight: bold; font-size: 18px; color: #736635; line-height: 22px;">{{ secondary_title }}</span>
						</td>
					</tr>
				</table>
		<!-- secondary title -->
		
		<!-- // Product Recommendation Headline -->
				<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="" bgcolor="#ffffff">
					<tr>
						{% if hotcombos %}
						<td class="block" align="center" style="padding:10px 4px 5px 4px;">
							<table width="170" height="238" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="background-color:#ffffff;">
								<tr>
									<td valgin="top" align="center" style="border-bottom: #ffffff">
										<a href="{{ hotcombos[0].link}}" style="text-decoration:none;">
				  <img src="{{ hotcombos[0].image_link }}" alt="" width="160" border="0" style="display:block; max-height:160px;">
				</a>
									</td>
								</tr>
								<tr>
									<td valign="top" class="block" style="padding: 10px;" align="left">
										<a href="{{ hotcombos[0].link}}" style="font-weight:bold; font-size:11px; text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif;">
				  {{ hotcombos[0].title }} &nbsp;&#9656;
				</a>
									</td>
								</tr>
							</table>
						</td>
						{% endif %} {% for relateditem in relateditems %}
						<td align="center" class="block" style="padding:10px 4px 5px 4px;">
							<table width="170" height="238" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="background-color:#ffffff;">
								<tr>
									<td valgin="top" align="center" style="border-bottom: #ffffff">
										<a href="{{ relateditem.link}}" style="text-decoration:none;">
				  <img src="{{ relateditem.image_link }}" alt="" width="160" border="0" style="display:block; max-height:160px;">
				</a>
									</td>
								</tr>
								<tr>
									<td valign="top" style="padding: 10px;" align="left" style="border-top: #ffffff">
										<a href="{{ relateditem.link}}" style="font-weight:bold; font-size:11px; text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif;">
				  {{ relateditem.title }} &nbsp;&#9656;
				</a>
									</td>
								</tr>
							</table>
						</td>
						{% endfor %}
						{% if hotcombos|length == 0 and relateditems|length == 0 %}
						<td align="center" class="block" style="padding:10px 4px 5px 4px;">
							<table width="170" height="238" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="background-color:#ffffff;">
								<tr>
									<td valgin="top" align="center" style="border-bottom: #ffffff">
										<a href="{{ 'https://shop.myhdiet.com/digestive-enzymes.html'|add_tracking_codes }}" style="text-decoration:none;">
				  <img src="https://shop.myhdiet.com/media/catalog/product/cache/image/700x560/e9c3970ab036de70892d86c6d221abfe/d/i/digestive-enzymes.jpg" alt="" width="160" border="0" style="display:block; max-height:160px;">
				</a>
									</td>
								</tr>
								<tr>
									<td valign="top" style="padding: 10px;" align="left" style="border-top: #ffffff">
										<a href="{{ 'https://shop.myhdiet.com/digestive-enzymes.html'|add_tracking_codes }}" style="font-weight:bold; font-size:11px; text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif;">
				  Digestive Enzymes &nbsp;&#9656;
				</a>
									</td>
								</tr>
							</table>
						</td>
						<td align="center" class="block" style="padding:10px 4px 5px 4px;">
							<table width="170" height="238" align="center" border="0" cellpadding="0" cellspacing="0" class="" style="background-color:#ffffff;">
								<tr>
									<td valgin="top" align="center" style="border-bottom: #ffffff">
										<a href="{{ 'https://shop.myhdiet.com/barleymax-berry-8-5oz.html'|add_tracking_codes }}" style="text-decoration:none;">
				  <img src="https://shop.myhdiet.com/media/catalog/product/cache/image/700x560/e9c3970ab036de70892d86c6d221abfe/b/a/barleymax-lg-berry.jpg" alt="" width="160" border="0" style="display:block; max-height:160px;">
				</a>
									</td>
								</tr>
								<tr>
									<td valign="top" style="padding: 10px;" align="left" style="border-top: #ffffff">
										<a href="{{ 'https://shop.myhdiet.com/barleymax-berry-8-5oz.html'|add_tracking_codes }}" style="font-weight:bold; font-size:11px; text-decoration:none; color: #111111; font-family: Arial, Helvetica, sans-serif;">
				  BarleyMax - Berry Flavored - 60 Day Supply &nbsp;&#9656;
				</a>
									</td>
								</tr>
							</table>
						</td>
						{% endif %}
					</tr>
					<tr>
						<td height="10" colspan="5">&nbsp;</td>
					</tr>
				</table>
				<!-- // relateds -->
				
		<!-- secondary promos -->
		<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="" bgcolor="ffffff">
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mobileWidth">&nbsp;</td></tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mobileWidth">
					<a href="{{ 'http://www.myhdiet.com/what-is-the-hallelujah-diet-and-why-does-it-work/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/14265018_10157331126330290_2601664935971517134_n.jpg?oh=45e9e5a195e153a6c964379c47126808&oe=59FA3459" width="600" class="mobileWidth" border="0"></a>
				</td></tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mobileWidth">&nbsp;</td></tr>
			
				
					<tr>
						<td width="20" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="mobileWidth block">
						<a href="https://www.youtube.com/watch?v=itotRj57sSw&t=127s" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article.jpg" border="0" width="265">
							</a>
						</td>
						<td width="5" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="mobileWidth block">
						<a href="{{ 'http://www.myhdiet.com/the-hallelujah-diet-testimonies/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article2.jpg" border="0" width="265">
							</a>
						</td>
						<td width="20" class="mb-hide">&nbsp;</td>
					</tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mb-hide">&nbsp;</td></tr>
					<tr>
						<td width="20" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="mobileWidth block">
						<a href="{{ 'http://www.myhdiet.com/the-hallelujah-diet-testimonies/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article3.jpg" border="0" width="260">
							</a>
						</td>
						<td width="5" class="block">&nbsp;</td>
						<td bgcolor="#ffffff" width="265" style="text-align: center; font-size: 1px !important; line-height: 1px !important;" class="mobileWidth block">
						<a href="https://www.youtube.com/watch?v=OBBSXt45ifc&t=113s" border="0" style="text-decoration: none;">
						<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/article4.jpg" border="0" width="265">
							</a>
						</td>
						<td width="20" class="block">&nbsp;</td>
					</tr>
			<tr><td bgcolor="#ffffff" colspan="5" height="10" class="mb-hide">&nbsp;</td></tr>
		</table>
		<!-- /secondary promos -->
		
		
		<!-- footer -->
		
				<table width="600" align="center" border="0" cellpadding="0" cellspacing="0" class="mobileWidth" style="" bgcolor="#ffffff">
							<tr>
								<td width="190" valign="middle" style="padding: 15px;" class="block-full2" align="center">
									<a href="{{ 'http://shop.myhdiet.com/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/hd-logo.png" width="186" border="0">
									</a>
								</td>
								<td class="block-full2" align="center">
									<a href="{{ 'https://www.facebook.com/hallelujahacres'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/HDSO_01.gif" height="36" border="0">
									</a>
									<a href="{{ 'https://plus.google.com/u/0/115496426117395312786/posts'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/HDSO_02.gif" height="36" border="0">
									</a>
									<a href="{{ 'http://instagram.com/myhallelujahdiet'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/HDSO_03.gif" height="36" border="0">
									</a>
									<a href="{{ 'https://www.pinterest.com/HallelujahDiet/'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/HDSO_04.gif" height="36" border="0">
									</a>
									<a href="{{ 'https://twitter.com/HallelujahAcres'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/HDSO_05.gif" height="36" border="0">
									</a>
									<a href="{{ 'https://www.youtube.com/user/HallelujahDiet'|add_tracking_codes }}" border="0" style="text-decoration: none;">
										<img src="http://image.email1.myhdiet.com/lib/fe9113727d61007e74/m/1/HDSO_06.gif" height="36" border="0">
									</a>
								</td>
								<td class="canspam block-full2" style="font-size:10px; color:#494940; padding:10px; line-height:10px; text-align: left;"
								width="160" align="center">

									{{ canspam_text }}
									<img src="{{ tracking_image }}" border="0" width="1" height="1">
								</td>
							</tr>
							<!-- spacing --><tr><td height="20" bgcolor="#b5bd00" colspan="3" style="text-align: center; font-size: 10px; line-height: 14px;">&copy; 2017 Hallelujah Diet. All Rights Reserved.</td></tr><!-- end spacing -->
						</table>
			</td>
		</tr>
		<!-- spacing --><tr><td height="20">&nbsp;</td></tr><!-- end spacing -->
	</table>
</body>
</html>